<div class="container">
    <h1 class="mt-4">Productos</h1>
    <div>
        {{#each products}}
        <div>
            <h5>{{title}}</h5>
            <p>{{description}}</p>
            <strong>Precio: ${{price}}</strong>
            <br>
            <strong>Stock: {{stock}}</strong>
            <br>
            <img src="{{thumbnail}}" alt="{{title}}" style="width: 100px;">
            <br>
             <a href="/api/products/get/{{_id}}" class="btn btn-primary mt-auto">Ver más</a>

            <button class="btn btn-success mt-2" onclick="addToCart('{{_id}}')">Agregar al
                carrito</button>
            <hr>
            <div> <a href="/api/products/post" class="btn btn-primary">agregar productos</a>
            </div>
        </div>
        {{/each}}

        <div class="mt-4">
            {{#if prevLink}}
            <a href="{{prevLink}}" class="btn btn-primary mb-4">Página anterior</a>
            {{/if}}
            {{#if nextLink}}
            <a href="{{nextLink}}" class="btn btn-primary ml-2 mb-4">Página siguiente</a>
            {{/if}}
        </div>
    </div>
    <p>¿Desea ir a mensajes?</p>
    <a href="/api/messages" class="btn btn-primary">Ir a Mensajes</a>

</div>
<script src="/js/addToCart.js"></script>